@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #ff8c00;
  font-size: 19px;
  margin: 40px;
  font-family: 'Poppins', sans-serif;
}

.title {
  width: 50%;
  float: left;
  font-size: 18vw;
}

h1 {
  font-size: 18vw;
}

.imgbox {
  width: 50%;
  height: 550px;
  float: left;
  overflow: hidden;
}

.topimg {
  width: 100%;
  height: auto;
}

.textbox {
  position: relative;
  width: 100%;
}

p {
  font-weight: bold;
  text-align: justify;
}

span, i {
  font-size: 65px;
  font-weight: 900;
}

.image-box {
  width: 400px;
  height: auto;
  float: left;
  padding: 5px;
}

.image-box img {
  width: 100%;
  height: auto;
}